<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <form class="ion-padding">    
  
    <ion-item lines="full" class="wrap-input">
      <ion-label position="floating" class="input">Email</ion-label>
      <ion-input type="email" #email required  ></ion-input>
    </ion-item> 

    <ion-item lines="full" class="wrap-input">
      <ion-label position="floating"  class="input">Mot de Passe</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    
    <ion-row>
      <ion-col> 
      <ion-button type="submit" color="success" (click)="logIn(email, password)"  [routerLink]="['/login']" expand="block">Connexion</ion-button>
      <span class="divider line one-line">ou</span>
      <span class="already"> Créer un Compte?</span>

      <ion-button
        [routerLink]="['/registration']"
        expand="block"
        color="primary">Register</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>