<ion-header>
  <ion-toolbar>
    <ion-title> Gestion de Formation </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-button [routerLink]="['/login']" expand="block" color="success"
        >Connexion</ion-button>

        <span class="divider line one-line">ou</span>
        <span class="already"> Register ?</span>

        <ion-button
          [routerLink]="['/registration']"
          expand="block"
          color="primary">Register</ion-button>
    
       
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>